body {
    background-color: white;
    font-family: nesobrite, time new roman, serif;
    margin: 0;
	min-width: 475px;
	
}
#main {
    margin: 0 auto;
    min-height: 980px;
    padding: 0 0 40px 0;
    max-width: 980px;
	min-width: 475px;
}
@font-face {
    font-family: bk;
    src: url(../font/ufonts.com_nesobriteexbk-regular.ttf);
}
@font-face {
    font-family: bl;
    src: url(../font/ufonts.com_nesobriteexbl-regular.ttf);
}
#main header {
   /* height: 150px;*/
}
#main header #header-top {
    height: 80px;
    padding-top: 20px;
}
#main header #header-top #logo {
    float: left;
    margin-left: 10px;
    position: relative;
    width: 250px;
}
#main header #prihlasit {
    float: right;
    margin: 60px 20px 0 0;
    opacity: 0.9;
    position: relative;
    text-align: right;
}
#main header #prihlasit img {
    padding-right: 5px;
}
#main header #prihlasit a {
    color: #333333;
    font-weight: bold;
    text-decoration: none;
}
#main header #prihlasit a:hover {
    color: #660000;
    text-decoration: underline;
}
#main header nav {
    background-color: #333333;
    border-radius: 5px;
    display: block;
    height: 50px;
    opacity: 0.9;
    width: 100%;
}
#main header nav ul {
    color: #666666;
    height: 50px;
    margin-top: 5px;
    -webkit-margin-after: 0px;
    -webkit-padding-start: 0px;
}
#main header .menu ul li {
    display: inline-block;
    margin-left: -7px;
    padding: 15px 0 16px 0;
    text-align: center;
}
#main header .menu ul li:first-child {
    margin-left: 0;
}
#main header .menu ul li:first-child:hover {
    border: none;
    border-radius: 5px 0 0 5px;
    margin-left: 0;
}
#main header .menu ul li a {
    color: white!important;
    font-family: "bl";
    font-size: 12px;
    padding: 20px 9px 19px 9px;
    text-decoration: none;
    text-transform: uppercase;
}
#main header .menu ul li:hover {
    background-color: #666666;
}
#main #slider {
    height: 400px;
    margin-top: 20px;
    overflow: hidden;
    width: 100%;
}
#main #slider .slider-popis {
    background-color: white;
    float: right;
    height: 400px;
    opacity: 0.8;
    position: relative;
    width: 300px;
}
#main #slider .slider-popis p {
    margin-bottom: 0;
    margin-top: 0;
    padding: 0 10px;
}
#main #slider .slider-popis .typslider {
    color: #333333;
    font-family: bk;
    font-size: 16px;
    font-weight: bold;
    padding-top: 40px;
}
#main #slider .slider-popis .modelslider {
    color: #333333;
    font-family: bk;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 10px 20px 10px;
}
#main #slider .slider-popis .popisslider {
    color: #757575;
    font-size: 12px;
    padding-bottom: 18px;
}
#main #slider .slider-popis .cena {
    padding-top: 7px;
}
#main #slider .slider-popis .rezervovatslider {
    background-color: #333333;
    border-radius: 0 5px 5px 0;
    bottom: 30px;
    font-size: 14px;
    opacity: 0.9;
    padding: 9px 0;
    position: absolute;
    text-align: center;
    width: 108px;
	cursor: pointer;
}
#main #slider .slider-popis .rezervovatslider a {
    color: white;
    font-family: "bk";
    text-decoration: none;
    vertical-align: middle;
}
#main #slider .slider-popis .rezervovatslider:hover {
    background-color: #660000;
}
#main #slider .owl-controls {
    height: 400px;
    position: absolute;
    top: 0;
    width: 680px;
}
#main #slider .owl-controls .owl-pagination {
    bottom: 10px;
    height: 20px;
    left: 10px;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    position: absolute;
}
#main #slider .owl-controls .owl-pagination .owl-page {
    background-color: white;
    display: inline-block;
    height: 20px;
    margin-right: 5px;
    width: 20px;
}
#main #slider .owl-controls .owl-pagination .owl-page:hover {
    background-color: #660000;
}
#main .owl-controls .owl-pagination .active {
    background-color: #333333!important;
}
#slider .item {
    display: block;
    height: 400px;
    width: 100%;
}
#main #content {
    font-size: 12px;
    margin-bottom: 40px;
    margin-top: 26px;
}
#main #content h1,
h2 {
    border-bottom: solid #cccccc 1px;
    color: #333333;
    font-family: "bl";
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 16px;
    padding-left: 10px;
    text-transform: uppercase;
}
#main #content #content-left h2,
h1 {
    padding-left: 10px;
}
#main #content p a {
    color: #757575;
}
#main #content p a:hover {
    color: #993333;
}
#main #content #content-left {
    color: #757575;
    float: left;
    padding: 0 0 16px 0;
    position: relative;
    max-width: 640px;
}
#main #content #nasvozovypark p {
    padding: 0 10px;
}
#main #content #zobrazitvsetky {
    position: absolute;
    right: 9px;
    top: 9px;
}
#main #content #zobrazitvsetky a {
    color: #cccccc;
    font-size: 10px;
    text-decoration: none;
}
#main #content #zobrazitvsetky a:hover {
    color: #993333;
}
#main #content .stlpec1 {
    float: left;
    padding: 30px 20px 37px 0;
    position: relative;
    max-width: 300px;
}
#main #content .stlpec1 p {
    padding-left: 10px;
}
#main #content .stlpec2 p {
    padding-left: 10px;
}
#main #content .stlpec2 {
    float: left;
    padding: 30px 0 27px 20px;
    position: relative;
    max-width: 300px;
}
#main .red {
    color: #993333;
    font-size: 16px;
    font-weight: bold;
    text-transform: none;
}
#main .cena {
    color: #999999;
    font-size: 12px;
    text-transform: uppercase;
}
#main .hindex {
    font-size: 7px;
    vertical-align: super;
}
#main #content h3 {
    color: black;
    font-family: bl;
    font-size: 16px;
    padding: 0 10px;
}
#main #content #content-left>p {
    padding: 0 10px;
}
#main #content .rezervovat {
    background-color: #333333;
    border-radius: 5px;
    font-size: 14px;
    height: 12px;
    margin: 20px 0 0 0;
    opacity: 0.9;
    padding: 8px 0 10px 0;
    text-align: center;
    width: 128px;
	cursor: pointer;
}
#main #content .rezervovat:hover {
    background-color: #660000;
}
#main #content .rezervovat a {
    color: white;
    font-family: "bk";
    text-decoration: none;
}
#main #content #stlpec3 {
    color: #757575;
    float: right;
    position: relative;
    max-width: 300px;
}
#main #content #stlpec3 p {
    padding: 0 10px;
}
#main #content #stlpec3 .padingtop {
    margin-top: 0;
    padding-top: 30px;
}
#main #content h2 .trieda {
    color: #999999;
    text-transform: none;
}
#main #content .autopark .stlpec2 {
    padding-left: 0px;
    max-width: 320px;
}
#main #content .autopark h3 {
    margin-bottom: 0;
    margin-bottom: -10px;
    margin-top: 0;
    padding: 27px 0 0 10px;
}
#main #content .autopark .stlpec2 p:first-child {
    margin-top: 0;
}
#main #content .pravocervena {
    color: #993333;
    font-weight: bold;
    position: absolute;
    right: 0;
    text-align: right;
}
#main #content .nadpisautopark {
    color: #333333;
    font-weight: bold;
}
#main #content .menuautopark {
    clear: both;
    height: 30px;
    max-width: 640px;
}
#main #content .menuautopark ul {
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}
#main #content .menuautopark ul li {
    background-color: #666666;
    color: white;
    display: inline-block;
    font-size: 10px;
    height: 10px;
    margin-left: -2px;
    padding: 11px 10px 9px 10px;
    width: 100px;
}
#main #content .menuautopark ul li:first-child {
    background-color: #333333;
    border-radius: 5px 0 0 5px;
    font-size: 12px;
    height: 12px;
    margin: 0;
    opacity: 0.9;
    padding: 9px 0 9px 0;
    text-align: center;
    width: 128px;
	cursor: pointer;
}
#main #content .menuautopark ul li:last-child {
    border-radius: 0 5px 5px 0;
}
#main #content .menuautopark ul li:first-child:hover {
    background-color: #660000;
}
#main #content .menuautopark ul li a {
    color: white;
    font-family: "bk";
    text-decoration: none;
}
#main #content .menuautopark .vpravo {
    float: right;
    font-size: 10px;
    font-weight: bold;
}
#main #content table {
    padding: 0px 10px 25px 10px;
    width: 100%;
}
#main #content table tr td {
    color: #999999;
}
#main #content table tr td a {
    color: #757575;
}
#main #content table tr td a:hover {
    color: #993333;
}
#main #content table th {
    color: #993333;
    text-align: left;
    text-transform: uppercase;
}
#main #content table th h3 {
    padding: 0;
}
#main #content table th:first-child {
    text-transform: none;
}
#main #content #cennikpopis {
    border-top: 1px solid #cccccc;
}
#main #content #cennikpopis p {
    color: #757575;
    margin: 0;
    padding: 4px 10px;
}
#main #content #cennikpopis p:first-child {
    color: #333333;
    font-weight: bold;
    padding-top: 30px;
}
#main #content #cennikpopis #cenikpopispopisu {
    color: #999999;
    padding-top: 18px;
}
#main #content h2+img {
    padding-top: 20px;
}
#main #content #rezervacia #stlpec3,
.stlpec2,
.stlpec1 {
    padding-bottom: 25px!important;
    padding-top: 30px;
}
#main #content #kontakt #stlpec3,
.stlpec2,
.stlpec1 {
    padding-bottom: 25px!important;
    padding-top: 30px;
}
#main #content #kontakt #stlpec3 p:first-child {
    margin-top: 0;
    padding-top: 44px;
}
#main #content #kontakt #stlpec3 p {
    font-size: 12px;
    margin-bottom: 25px;
}
#main #content textarea {
    background-color: #f5f5f5;
    border: solid 1px #757575;
    color: #757575;
    display: block;
    height: 73px!important;
    padding: 10px 10px;
    width: 278px;
}
#main #content textarea:focus {
    background-color: #fff8f8;
    border: solid 1px #993333;
    color: #993333;
    outline: none;
}
#main #content select {
    /*background: url(../img/v.png) no-repeat 279px 10px;*/
    
    background-color: #f5f5f5;
    border: solid 1px #757575;
    color: #757575;
    display: block;
    height: 30px;
    moz-appearance: none;
    text-indent: 0.01px;
    webkit-appearance: none;
    width: 100%;
}
#main #content select:focus {
    background-color: #fff8f8;
    border: solid 1px #993333;
    color: #993333;
    outline: none;
}
#main #content input[type='text'] {
    background-color: #f5f5f5;
    border: solid 1px #666666;
    color: #757575;
    display: block;
    height: 28px;
    padding: 0 10px;
    width: 278px;
}
#main #content input[type='text']:focus {
    background-color: #fff8f8;
    border: solid 1px #993333;
    color: #993333;
    outline: none;
}
#main #content input[type='email'] {
    background-color: #f5f5f5;
    border: solid 1px #666666;
    color: #757575;
    display: block;
    height: 28px;
    padding: 0 10px;
    width: 278px;
}
#main #content input[type='email']:focus {
    background-color: #fff8f8;
    border: solid 1px #993333;
    color: #993333;
    outline: none;
}
#main #content label {
    color: #333333;
    display: block;
    font-weight: bold;
    height: 20px;
    padding: 15px 0 0 10px;
}
#main #content #odoslat {
    background-color: #333333;
    border: none;
    border-radius: 5px;
    clear: both;
    color: white;
    display: block;
    font: 14px nesobrite;
    font-size: 12px;
    height: 30px;
    opacity: 0.9;
    width: 90px;
	cursor: pointer;
}
#main #content #odoslat:hover {
    background-color: #660000;
}
#main #content #rezervaciapopis {
    color: #999999;
    margin-top: 0;
    padding: 18px 0 0 10px;
}
/*pata*/

#main footer {
    border-top: solid #cccccc 1px;
    clear: both;
    height: 68px;
    padding-top: 27px;
    position: relative;
    width: 100%;
}
#main footer nav ul {
    color: #cccccc;
    font-size: 12px;
    margin: 0;
    margin-left: 2px;
    padding-left: 0;
}
#main footer nav ul li {
    display: inline-block;
    text-align: center;
}
#main footer nav ul li a {
    color: #555555;
    font-size: 12px;
    padding-left: 9px;
    padding-right: 9px;
    text-decoration: none;
    text-transform: uppercase;
}
#main footer nav ul li a:hover {
    color: #993333;
}
#main footer #vytvoril {
    color: #555555;
    font-size: 10px;
    position: absolute;
    right: 9px;
    top: 27px;
}
#main footer .siva {
    color: #b4b4b4;
}
#main footer #prava {
    clear: both;
    font-size: 10px;
    padding: 12px 0 0 10px;
}
/*custom*/

#main #content .bold {
    color: #333333;
    font-weight: bold;
}
#content-all p {
    padding: 0 20px;
}
.content-gallery img {
    border-radius: 5px;
    margin-bottom: 10px;
    width: 230px;
}
.box {
    float: left;
    margin: 0 5px;
}
#googleMap {
    height: 400px;
    margin: auto;
    width: 90%;
}
#main #content .popisservis {
    color: #999999;
    font-size: 10px;
    text-transform: none;
}
.menu_click{
	display: none;
}
@media screen and (max-width: 979px) {
	#slider {
		display: none!important;
	}
	#prihlasit {
		display: none;
	}
	
	/*menu*/
	#main header nav {
	    height: 100%;
	}
	#main header nav ul {
		height: 100%;
		color: #333333;
	}
	#main header .menu ul li {
		margin-left: 0;
		display: block;
		cursor: pointer;
	}
	#main header .menu ul li:hover {
		color: #666666;
	}
	#main header .menu ul li:first-child:hover {
		border-radius: 5px 5px 0 0;
	}
	#main header .menu ul li:last-child:hover {
		border-radius: 0 0 5px 5px;
	}
	#main header .menu {
		display: none;
	}
	#main header .nav-expanded{
		display: block;
	}
	#main > header > span.menu_click{
		display: block;
		margin-top: 10px;
		text-align: center;
		background-color: #666666;
		color: white;
		cursor: pointer;
		font-family: "bl";
		font-size: 12px;
		padding: 5px;
		height: 22px;
		border-radius: 5px;
	} 

	/*obsah*/
	.stlpec1, .stlpec2{
		float: none!important;
		margin: auto!important;
		padding: 10px!important;
	}
	#stlpec3{
		max-width: 475px!important;
		float: left!important;		
	}
	#main #content #zobrazitvsetky {
		position: absolute;
		right: -6px;
		top: 15px;
	}
	
	/*autopork*/
	#main #content .menuautopark ul li:first-child {
		width: 90%;
		border-radius: 5px;
		margin: 5px 5%;
	}
	#main #content .menuautopark ul li {
		width: 90%;
		margin-left: 0;
		padding: 10px;
		width: 19%;
	}
	#main #content .menuautopark{
		height: 60px;
	}
	#main #content .menuautopark ul li:last-child {
		border-radius: 0;
	}
	#stlpec3 img{	
		margin: auto;
		display: block;		
	}
	
	/*rezervacia*/
	#rezervacia #stlpec3{
		padding: 10px;
	}
	#rezervacia > .stlpec1{
		margin:0!important;
	}
	#rezervacia > .stlpec2{
		margin:0!important;
	}
	
	/*kontakt*/
	#kontakt > .stlpec1{
		margin:0!important;
	}
	#kontakt > .stlpec2{
		margin:0!important;
	}
	#main #content #kontakt #stlpec3{
		padding-top: 0;
	}
	#main #content #kontakt #stlpec3 p:first-child {
		padding-top: 0;
	}
	/*autofolie*/
	#main #content h3 {
		clear: both;
	}
	
	/*pata*/
	footer{
		width: 475px;
		padding-top: 0;
	}
	#main footer nav ul li {
	    width: 110px;
		color: white;
		padding-top: 10px;
	}
	#prava{
		clear: none!important;
	}
	#vytvoril{
		position: relative!important;
		float: right!important;
		padding: 12px;
		right: initial!important;
		top: initial!important;
	}
	
}